#logo{
  position: top;
}

table {
  text-align: center;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: lightseagreen;
    border: 3px solid #135447;;

    width: 250px;

}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #dbdcdd;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  margin:auto
}

/* Change the color of links on hover */
.topnav td:hover {
  background-color: #282828;
}
.topnav a.active {
    background-color: #135447;
    color: white;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

header {
  border-bottom: 1px solid white;

  background-color: #4ac7ae;
  background-position:top;

  box-shadow: 0px 0px 400px #4ac7ae;
}

body {
  text-align: center;
  background-color: rgba(83, 87, 94, 0.2);
}

.content {
  font-family: sans-serif;
  font-size: 20px;
}

/*the container must be positioned relative:*/
.custom-select {
  text-align: center;
  font-family: Arial;
}

.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items td,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  background-color: DodgerBlue;
  text-align: center;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items td:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.details {
  font-size: 20px;
  font-family: serif;
}

.button {
    background-color: #005e5c;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
    background-color: lightseagreen;
    color: white;
}

input::placeholder {
  text-align: center;
}
